//Declared the needed SASS variables for styling
$font_family: Roboto;
$background:#ededed;
$width:100%;
$font-size: 16px;
$text-align: center;
$margin-left: 35%;
$margin-right: 35%;
$margin-top: 5%;
$margin-bottom: 20%;
$padding_top: 10px; 
$padding_left: 50px;
$padding_right:50px;
$padding_bottom:3px;
$padding: 0;
$box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
$textColor:#000;
$border-radius: 2px;
$border-color:rgb(248, 246, 246);
$display: block;
$margin: 15px 0;
$border: 1px solid #ccc;
$font-weight: bold;
$cursor: pointer;
$height: 100%;
$align-items: center;
$border-top: 2px solid #06874e;