//importing sass variables from variables
@import "_variables";

//using simply the Google font, via this API in this case we need the Roboto
@import url(https://fonts.googleapis.com/css?family=Roboto);

//body styling 
body,
html {
  $background: #f1f1f1;
  background: $background;
  width: $width;
  font-size: $font-size;
}

//setting the font family for all the components in our page
* {
  font-family: $font_family;
}

//title heading styling
h1 {
  text-align: $text-align;
  font-family: $font_family;
}

//sign in form styling
.login{
  $width: 600px;
  width: $width;
  $height: 550px;
  height: $height;
  margin:auto;
  margin-top: $margin-top;
  border-top: $border-top;
  $background: #fff;
  background-color: $background;
  box-shadow: $box-shadow;
  color: $textColor;
  border-radius: $border-radius;
}

//sign in form, email field styling
.email{
  margin-bottom: 20px;
}
//sign in form, password field styling
.password{
  margin-bottom: 10px;
}

//sign in form, checkbox field styling
.checkbox{
  margin-bottom: 10px;
}
//sign in form, sign in button styling
.sign_button{
   margin-bottom: 10px;
}

//sign in form inputs styling
input[type="text"],
input[type="password"] {
  $width: 500px;
  width: $width;
  $height: 50px;
  height: $height;
  display: $display;
  $padding_bottom:10px;
  padding-bottom: $padding_bottom;
  border: $border;
  box-sizing: border-box;
  margin:auto;
}

//sign in form remember me checkbox input styling
input[type="checkbox"] {
  padding-left: $padding_left;
  padding-right: $padding_right;
  border:1px solid #ccc;
  $display: inline-block;
  display: $display;
}

//sign in form email feild input label styling
label {
  $display: block;
  display: $display;
  font-weight: bolder;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  
}
//sign in form checkbox label styling
.label_checkbox {
  $font-weight: normal;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  
}

//sign in form button styling
button {
  $width: 500px;
  width: $width;
  $height: 50px;
  height: $height;
  $font-size: 20px;
  font-size: $font-size;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  $background: #06874e;
  background-color: $background;
  $textColor: white;
  color: $textColor;
  border: $border;
  $display: block;
  display: $display;
  box-sizing: border-box;
  margin:auto;
}
//sign in button hover behavior styling
button:hover {
  cursor: $cursor;
  $background: #06874e;
  background-color: $background;
  $textColor: rgb(70, 153, 179);
  color: $textColor;
}

//sign in form links  anchor tag styling
a {

  $font-weight: bold;
  font-weight: $font-weight;
  color: $textColor;
}

//sign in form links to signup,remeberme and resend email text styling
span {
  $display: block;
  display: $display;
  align-items: $align-items;
  text-align: $text-align;
  padding: 0.5em;

}

//sign in form validation messages styling
input.error {
  $border-color: rgb(236, 6, 6);
  border-color: $border-color;
  
}
//sign in form validation messages styling
.input-feedback {
  $textColor: rgb(235, 54, 54);
  color: $textColor;
  $font-size: 14px;
  font-size: $font-size;
  padding-left: $padding_left;
}

/*to make the page responsive for devices with different screen size */
@media screen and (max-width: 640px) and (min-width: 360px),
  (max-width: 1024px) and (min-width: 700px) {
 
  body,
  html {
  $background: #f1f1f1;
  background: $background;
  width: $width;
  font-size: $font-size;
}

//title heading styling for phone and tablet screen size devices
h1 {
  text-align: $text-align;
  font-family: $font_family;
}

//login div styling for phone and tablet screen size devices
.login{
  $width: 100%;
  width: $width;
  $height: 550px;
  height: $height;
  margin:auto;
  border-top: $border-top;
  $background: #fff;
  background-color: $background;
  box-shadow: $box-shadow;
  color: $textColor;
  border-radius: $border-radius;
}
//input sign in form styling for phone and tablet screen size devices
input[type="text"],
input[type="password"] {
  $width: 100%;
  width: $width;
  $height: 50px;
  height: $height;
  display: $display;
  $padding_bottom:10px;
  padding-bottom: $padding_bottom;
  border: $border;
  box-sizing: border-box;
  margin:auto;
}
//button sign in form styling for phone and tablet screen size devices
button {
  $width: 100%;
  width: $width;
  $height: 50px;
  height: $height;
  $font-size: 20px;
  font-size: $font-size;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  $background: #06874e;
  background-color: $background;
  $textColor: white;
  color: $textColor;
  border: $border;
  $display: block;
  display: $display;
  box-sizing: border-box;
  margin:auto;
}
// labels in sign in form styling for phone and tablet screen size devices
label {
  $display: block;
  display: $display;
  font-weight: bolder;
  $padding_left:0px;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  
}
//labels in sign in form styling for phone and tablet screen size devices
.label_checkbox {
  $font-weight: normal;
  $padding_left:0px;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  
  }

//sign in form validation messages styling for phone and tablet screen size devices
input.error {
  $border-color: rgb(236, 6, 6);
  border-color: $border-color;
  
}
//sign in form validation messages styling for phone and tablet screen size devices
.input-feedback {
  $textColor: rgb(235, 54, 54);
  color: $textColor;
  $font-size: 14px;
  font-size: $font-size;
  padding-left: $padding_left;
}



}