//importing sass variables from variables
@import "_variables";
//using simply the Google font, via this API in this case we need the Roboto
@import url(https://fonts.googleapis.com/css?family=Roboto);

//Setting the font family for all the components in our page
* {
  font-family: $font_family;
}
//Body styling 
body,
html {
  $background: #f1f1f1;
  background: $background;
  width: $width;
  font-size: $font-size;
}

//Title heading styling
h1 {
  text-align: $text-align;
  font-family: $font_family;
}
//Sign in form 
form{
  $width: 600px;
  width: $width;
}
//Sign in form styling
.login{
  $width: 600px;
  width: $width;
  $height: 550px;
  height: $height;
  $margin: auto;
  margin: $margin;
  margin-top: $margin-top;
  border-top: $border-top;
  $background: #fff;
  background-color: $background;
  box-shadow: $box-shadow;
  color: $textColor;
  border-radius: $border-radius;
}

//Sign in form, email field styling
.email{
  $margin-bottom: 20px;
  margin-bottom: $margin-bottom;
}
//Sign in form, password field styling
.password{
  $margin-bottom: 10px;
  margin-bottom: $margin-bottom;
}

//Sign in form, checkbox field styling
.checkbox{
  $padding-top: 25px;
  padding-top: $padding-top;
  $padding-bottom: 25px;
  padding-bottom: $padding_bottom;
  $display: inline-block;
  display: $display;
 
}
//Sign in form, sign in button styling
.sign_button{
   $margin-bottom: 10px;
   margin-top:$margin-top;
}
//Sign in form inputs styling
input[type="text"],
input[type="password"] {
  $width: 500px;
  width: $width;
  $padding_left: 8px;
  padding-left: $padding_left;
  $padding-top: 10px;
  padding-top: $padding_top;
  $height: 45px;
  height: $height;
  $font-size: 25px;
  font-size: $font-size;
  display: $display;
  $padding_bottom:10px;
  padding-bottom: $padding_bottom;
  $border: 1px solid #ccc;
  border: $border;
  $box-sizing: border-box;
  box-sizing: $box-sizing;
  margin:$margin;
}


//Sign in form email feild input label styling
label {
  $display: block;
  display: $display;
  $font-size: larger;
  font-size: $font-size;
  $font-weight: bolder;
  font-weight: $font-weight;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  
}

//Sign in form checkbox label styling
.label_checkbox {
  $font-weight: normal;
  $font-size: larger;
  font-size: $font-size;
  font-weight: $font-weight;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  
}
//Sign in form button styling
button {
  $width: 500px;
  width: $width;
  $height: 50px;
  height: $height;
  $font-size: 20px;
  font-size: $font-size;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  $background: #06874e;
  background-color: $background;
  $textColor: white;
  color: $textColor;
  border: $border;
  $display: block;
  display: $display;
  box-sizing: border-box;
  margin:auto;
}
//Sign in button hover behavior styling
button:hover {
  cursor: $cursor;
  $background: #06874e;
  background-color: $background;
  $textColor: rgb(70, 153, 179);
  color: $textColor;
}

//Sign in form links  anchor tag styling
a {
  $font-weight: bold;
  font-weight: $font-weight;
  color: $textColor;
}

//Sign in form links to signup,remeberme and resend email text styling
span {
  $display: block;
  display: $display;
  align-items: $align-items;
  text-align: $text-align;
  $padding: 0.5em;
  padding: $padding;

}
//Sign in form validation messages styling
input.error {
  $border-color: rgb(236, 6, 6);
  border-color: $border-color;
  
}
//Sign in form validation messages styling
.input-feedback {
  $textColor: rgb(235, 54, 54);
  color: $textColor;
  $font-size: 14px;
  font-size: $font-size;
  padding-left: $padding_left;
}

/* Remember me checkbox */
.rememberMe_checkbox{
  display: $display;
  position: $position;
  $padding_left: 90px;
  padding-left: $padding_left;
  cursor: $cursor;
  $font-size: 19px;
  font-size: $font-size;
  $font-weight: normal;
  font-weight: $font-weight;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;

}

/* Hide the browser's default checkbox */
.rememberMe_checkbox input[type="checkbox"] {
  position: $position;
  opacity: $opacity;
  cursor: $cursor;
  height: $height;
  width: $width;
}

/* Create a custom checkbox */
.checkmark {
  position: $position;
  $top: 0;
  top: $top;
  left:$left;
  $height: 5px;
  height: $height;
  $width: 5px;
  width: $width;
  background-color: $background-color;
  border: $border;
  display: $display;
}

/* On mouse-over, add a grey background color */
.rememberMe_checkbox:hover input ~ .checkmark {
  background-color: $background-color;
}

/* When the checkbox is checked, add a blue background */
.rememberMe_checkbox input:checked ~ .checkmark {
  background-color: $background-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: $content;
  position: $position;
  $display: none;
  display: $display;
}

/* Show the checkmark when checked */
.rememberMe_checkbox input:checked ~ .checkmark:after {
  display: $display;
}

/* Style the checkmark/indicator */
.rememberMe_checkbox .checkmark:after {
  $left: 7px;
  left: $left;
  $top: 5px;
  top: $top;
  $width: 4px;
  width: $width;
  $height: 10px;
  height: $height;
  $border:1px solid #000;
  border: $border;
  $border-width: 0 3px 3px 0;
  border-width: $border-width;
  -webkit-transform: $webkit-transform;
  -ms-transform: $ms-transform;
  transform: $transform;
}
/*To make the page responsive for devices with different screen size */
@media screen and (max-width: 640px) and (min-width: 360px),
  (max-width: 1024px) and (min-width: 700px) {
  //Body styling 
  body,
  html {
  $background: #f1f1f1;
  background: $background;
  font-size: $font-size;
  width: $width;
  height: $height;

}

//Title heading styling
h1 {
  text-align: $text-align;
  font-family: $font_family;
}
//Sign in form email feild input label styling
label {
  $display: block;
  display: $display;
  $font-size: larger;
  font-size: $font-size;
  $font-weight: bolder;
  $padding_left:0px;
  $font-weight: bolder;
  font-weight: $font-weight;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  overflow: $overflow;
}
//Sign in form checkbox label styling
.label_checkbox {
  $font-size: larger;
  font-size: $font-size;
  $font-weight: normal;
  font-weight: $font-weight;
  $padding_left:0px;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  font-weight: $font-weight;
  
}
//Sign in form styling

.login{
  overflow: hidden;
  $width: 90%;
  width: $width;
  $height: 100%;
  height: $height;
  $margin: auto;
  margin: $margin;
  $padding_left: 5%;
  $padding_right:5%;
  padding-left:$padding_left;
  padding-right: $padding_right;
  border-top: $border-top;
  $background: #fff;
  background-color: $background;
  box-shadow: $box-shadow;
  color: $textColor;
  border-radius: $border-radius;
}


//Sign in form 
form{
  $width: 100%;
  width: $width;
  $margin: auto;
  margin: $margin;
}
//Sign in form inputs styling
input[type="text"],
input[type="password"] {
  $width: 100%;
  width: $width;
  $margin: auto;
  margin: $margin;
}
//Sign in form button styling
button {
  $width: 100%;
  width: $width;
  $height: 50px;
  height: $height;
  $font-size: 20px;
  font-size: $font-size;
  padding-left: $padding_left;
  padding-right: $padding_right;
  padding-bottom: $padding_bottom;
  $background: #06874e;
  background-color: $background;
  $textColor: white;
  color: $textColor;
  $display: block;
  display: $display;
  box-sizing: border-box;
  $margin: auto;
  margin: $margin;
}

//Sign in form validation messages styling
.input-feedback {
  $textColor: rgb(235, 54, 54);
  color: $textColor;
  $font-size: 14px;
  font-size: $font-size;
  $padding_left:1px;
  padding-left: $padding_left;
}

/* Remember me checkbox */
.rememberMe_checkbox {
display: $display;
position: $position;
$padding_left: 40px;
padding-left: $padding_left;
cursor: $cursor;
$font-size: 19px;
font-size: $font-size;
$font-weight: normal;
font-weight: $font-weight;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

/* Hide the browser's default checkbox */
.rememberMe_checkbox input[type="checkbox"] {
 position: $position;
  opacity: $opacity;
  cursor: $cursor;
  height: $height;
  width: $width;
}

/* create a custom checkbox */
.checkmark {
  position: $position;
  $top: 0;
  top: $top;
  $left: 7px;
  left:$left;
  $height: 5px;
  height: $height;
  $width: 5px;
  width: $width;
  background-color: $background-color;
  border: $border;
  display: $display;
}

/* On mouse-over, add a grey background color */
.rememberMe_checkbox:hover input ~ .checkmark {
  background-color: $background-color;
}

/* When the checkbox is checked, add a blue background */
.rememberMe_checkbox input:checked ~ .checkmark {
  background-color: $background-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: $content;
  position: $position;
  $display: none;
  display: $display;
}

/* Show the checkmark when checked */
.rememberMe_checkbox input:checked ~ .checkmark:after {
  display: $display;
}

/* Style the checkmark/indicator */
.rememberMe_checkbox .checkmark:after {
  $left: 7px;
  left: $left;
  $top: 5px;
  top: $top;
  $width: 4px;
  width: $width;
  $height: 10px;
  height: $height;
  $border:1px solid #000;
  border: $border;
  $border-width: 0 3px 3px 0;
  border-width: $border-width;
  -webkit-transform: $webkit-transform;
  -ms-transform: $ms-transform;
  transform: $transform;
}

}

